/**
 *
 */
.content {
  &:not(.child) {
    padding: 2rem 3rem;
    box-sizing: border-box;
    header {
      margin-bottom: 1rem;
      position: relative;
      :global(.mantine-Badge-root) {
        position: absolute;
        right: 0;
      }
    }
    background-color: rgba(gray, 0.1);
    backdrop-filter: blur(8px);
    // &:nth-child(3n + 1) {
    //   background-color: var(--mantine-color-dark-6);
    // }
    // &:nth-child(3n + 2) {
    //   background-color: var(--mantine-color-dark-7);
    // }
    // &:nth-child(3n) {
    //   background-color: var(--mantine-color-dark-5);
    // }
  }
}

/**
 *
 */
.child {
  color: white;
  width: 100%;
  margin: 1rem 0;
  dl {
    display: flex;
    gap: 1rem;
    width: 100%;
    margin: 0;
  }
  dd {
    margin: 0;
    &.period {
      flex-shrink: 0;
    }
  }
}

/**
 *
 */
.sphere {
  display: inline-block;
}

/**
 *
 */

/**
 *
 */

/**
 *
 */

/**
 *
 */

/**
 *
 */
