/**
 *
 */
.container {
  position: fixed;
  width: 100vw;
  // height: 50vh;
  display: flex;
  justify-content: center;
  // height: 50vh;
  // text-align: center;
  // background: purple;
}

/**
 *
 */
.car {
  position: absolute;
  bottom: 0;
  width: auto;
  height: 50vh;
  opacity: 0.15;
  z-index: 10;
}

/**
 *
 */

/**
 * -----------------------------
 *    
 * -----------------------------
 */

/**
 *
 */

/**
 *
 */

/**
 *
 */

/**
 *
 */

/**
 *
 */

/**
 *
 */

/**
 *
 */
