/**
 *
 */
.root {
  overflow: hidden;
  height: 2rem;
  position: relative;
  width: 100%;
  // margin-top: 2rem;
}

/**
 *
 */
.tick {
  position: absolute;
}

/**
 *
 *
.badge {
  &:nth-child(2n + 1) {
    background-color: mediumvioletred;
  }
  &:nth-child(2n) {
    background-color: teal;
  }
}

/**
 *
 *
.designer {
  .badge {
    background-color: mediumvioletred;
  }
}

/**
 *
 *
.developer {
  .badge {
    background-color: teal;
  }
}

/**
 *
 */

/**
 *
 */

/**
 *
 */

/**
 * -----------------------------
 *    
 * -----------------------------
 */

/**
 *
 */

/**
 *
 */

/**
 *
 */

/**
 *
 */

/**
 *
 */

/**
 *
 */

/**
 *
 */

//[EOF]*/
