@use '../styles/mixins' as *;

/**
 *
 */
.root {
  overflow: hidden;
  height: 3rem;
  position: relative;
  width: 100%;
  // margin-top: 2rem;
}

/**
 *
 */
.badge {
  @include glassplate();
  color: rgba(white, 0.78);
  .alpha & {
    background: linear-gradient(60deg, rgba(black, 0.15), rgba(magenta, 0.3));
  }
  .beta & {
    background: linear-gradient(60deg, rgba(black, 0.15), rgba(cyan, 0.3));
  }
}

/**
 *
 */
.tick {
  position: absolute;
}

/**
 *
 *
.badge {
  &:nth-child(2n + 1) {
    background-color: mediumvioletred;
  }
  &:nth-child(2n) {
    background-color: teal;
  }
}

/**
 *
 *
.designer {
  .badge {
    background-color: mediumvioletred;
  }
}

/**
 *
 *
.developer {
  .badge {
    background-color: teal;
  }
}

/**
 *
 */

/**
 *
 */

/**
 *
 */

/**
 * -----------------------------
 *    
 * -----------------------------
 */

/**
 *
 */

/**
 *
 */

/**
 *
 */

/**
 *
 */

/**
 *
 */

/**
 *
 */

/**
 *
 */

//[EOF]*/
