.liner {
  height: 100vh;
  overflow: hidden;
}

.tanker {
  // width: 500vw;
  height: 100vh;
  position: relative;
}

.vista {
  width: 100vw;
  &:nth-child(3n + 1) {
    background-color: var(--mantine-color-dark-1);
  }
  &:nth-child(3n + 2) {
    background-color: var(--mantine-color-dark-3);
  }
  &:nth-child(3n) {
    background-color: var(--mantine-color-dark-5);
  }
  // &:nth-child(5n + 4) {
  //   background-color: darkorange;
  // }
  // &:nth-child(5n + 5) {
  //   background-color: darkorange;
  // }
}
