/**
 *
 */
.container {
  position: relative;
  height: var(--creditroll-height);
  overflow: hidden;
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black 15%,
    black 85%,
    transparent
  );
}

/**
 *
 */
.roller {
  // flex-direction: column;
  // justify-content: center;
}

/**
 *
 */

/**
 * -----------------------------
 *    
 * -----------------------------
 */

/**
 *
 */

/**
 *
 */

/**
 *
 */

/**
 *
 */

/**
 *
 */

/**
 *
 */

/**
 *
 */
